@import 'src/styles/base/variables';
@import 'src/styles/base/extends';

.playground {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  min-width: 320px;
  min-height: 320px;
  background: $playground-background;
  position: relative;
  margin-bottom: 20px;
  margin: 20px 0;

  &__item {
    width: 32px;
    height: 32px;
    background: $general-background;
    border: 1px solid $border-color;
    box-sizing: border-box;
  }

  &__score {
    @extend %title_text;
  }

  &__wrapper {
    text-align: center;
  }
}
