@import './base/reset';
@import './base/variables';

#root,
.wrapper,
body {
  height: 100%;
  background: #eee;
}

.wrapper {
  color: black;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
  margin: 20px 80px;

  @media (max-width: 700px) {
    margin: 20px 0;
  }
}
