@import '/src/styles/base/variables';
@import 'src/styles/base/extends';
@import 'src/styles/base/mixins';

.record {
  &__wrapper {
    background-color: $general-background;
    border: 1px solid $border-color;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    min-width: 20%;

    @media (max-width: 550px) {
      width: 80%;
    }
  }
  &__title {
    @extend %title_text;
  }

  &__list {
    margin-top: 20px;
  }

  &__item {
    @include flex__display();
    margin-top: 10px;
  }
}
