.wrapper {
  display: flex;
  justify-content: space-around;
  height: 100%;
  align-items: center;

  @media (max-width: 550px) {
    flex-direction: column;
    justify-content: space-evenly;
  }
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
