@import 'src/styles/base/variables';
@import 'src/styles/base/extends';

.button {
  @extend %title_text;
  padding: 10px 5px;
  background-color: $button-background;
  width: 100%;
  border: 1px solid $button-background;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;

  &:hover {
    border: 1px solid $button-background-hover;
    background-color: $button-background-hover;
    color: $button-color-hover;
  }
}
