@import 'src/styles/base/variables';
@import 'src/styles/base/extends';

.header {
  background-color: $header-footer-background;

  &__wrapper {
    margin: 20px;
  }

  &__text {
    @extend %title_text;
    color: $header-footer-color;
  }
}
