@import 'src/styles/base/variables';

.input {
  width: 100%;
  padding: 5px;
  margin: 10px 0;
  border: 1px solid $button-background;
  border-radius: 5px;
  transition: border 0.2s ease-in-out;

  &:focus,
  &:hover {
    border: 1px solid $button-background-hover;
  }
}
