@import 'src/styles/base/variables';

.controller {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin: 10px 0;
  border: 1px solid $border-controller;
  padding: 5px;
  border-radius: 50%;

  &__button_side {
    display: flex;
    gap: 20px;
  }
}
