@import 'src/styles/base/variables';
@import 'src/styles/base/extends';
@import 'src/styles/base/mixins';

.game__info {
  @include flex__display($direction: column, $justify: center);

  &_text {
    @extend %title_text;
  }

  &_error {
    font-weight: 600;
    font-size: 14px;
    color: $error-text-color;
    margin-bottom: 20px;
  }
}
