$header-footer-color: white;
$error-text-color: rgb(159 12 12);
$header-footer-background: black;
$button-color-hover: white;

$playground-background: grey;
$general-background: white;
$snake-background: green;
$button-background: #ccc;
$button-background-hover: black;

$border-color: rgb(175, 175, 175);
$border-controller: black;
